<% provide(:title, 'Tweets') %>
<div class = "wrapper">
    <% @tweets.each do |tweet| %>
        <div class = "each-item">
            <blockquote class="twitter-tweet">
                <%= link_to "https://twitter.com/"+tweet.user.screen_name, target: '_blank' do %> 
                    <div class="timeline-image">
                        <!-- Show user avatar (profile pic)-->
                        <img class="img-circle" src= '<%= image_path(tweet.user.profile_image_url_https.to_s.gsub('_normal','')) %>' alt="" style="width: 10%;height: 10%;">
                    </div>
                    <%= "@#{tweet.user.screen_name}" %>
                <% end %>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <!-- Show user name -->
                        <%= link_to "Vai al tweet", "https://twitter.com/"+tweet.user.screen_name+"/status/"+tweet.id.to_s, target: '_blank'%>
                        <h4> <%= tweet.user.name %> - <%= tweet.user.followers_count%> follower </h4> 
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted"> <%= tweet.attrs[:full_text]%> </p>
                        <i class="fa fa-retweet"> <%= tweet.retweet_count %> </i>
                        <i class="fa fa-heart"> <%= tweet.favorite_count %> </i>    
                        
                    </div>
                </div>
            </blockquote>
        </div>
    <% end %>
</div>

<style>
body{
    background: #B5B5B5;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 500px);
}

.each-item{
    height: 600px;
    background-color: #faffe6;
    border-radius: 10px;
}

</style>