<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong id = "user"> <%= comment.username %> </strong> <span class="text-muted"><small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small></span>
                    <% if current_user.username == comment.username %> 
                        <%= link_to "Elimina", comment, :method => :delete,:class => "link"%> 
                    <% end %>
                   <a id = 'a_<%= comment.id %>' > Rispondi </a>
                </div>
                <div class="panel-body">
                    <%= comment.body %>
                </div><!-- /panel-body -->
                <div id="voting_section">
                        <% if current_user.liked? comment %>
                          <%= link_to unlike_comment_path(comment), class: "fa-thumbs-down", id: "unlike_btn_"+comment.id.to_s, method: :put, remote: :true do %> Dislike <% end %>
                          <%= comment.get_likes.size %> &#128591
                        <% else %>
                          <%= link_to like_comment_path(comment), class: "fa-thumbs-up", id: "like_btn_"+comment.id.to_s, method: :put, remote: :true do %> Like <% end %>
                          <%= comment.get_likes.size %> &#128591
                        <% end %>
                </div>
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div>
</div>

 
   <div id = 'id_<%= comment.id %>' style = "display: none" >
        <%= form_for [comment, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Rispondi" %><br/>
            <%= f.submit "Rispondi"  %>
        <% end %>
    </div> 


  <ul>
      <%= render partial: 'comment', collection: comment.comments %>
  </ul> 
</body>

<script>
    $(document).ready(function() {
        $('#a_<%= comment.id %>').click(function(event){
            event.preventDefault();
            $('#id_<%= comment.id%>').toggle();
        });
        $('#voting_section').on('click', '.fa-thumbs-up', function(event){
            event.preventDefault();
            var comment_id = this.id.split("_").pop();
            $('#like_count').html('<%= comment.get_likes.size %> &#128591');
            $(this).html('<%= unlike_to unlike_comment_path(comment), class: "fa-thumbs-down", id: "unlike_btn_"+comment_id.to_s,
                method: :put, remote: :true do %> Dislike <% end %> <%= @comment.get_likes.size %> &#128591');
        });
        $('#voting_section').on('click', '.fa-thumbs-down',function(event){
            event.preventDefault();
            var comment_id = this.id.split("_").pop();
            $('#like_count').html('<%= comment.get_likes.size %> &#128591');
            $(this).html('<%= link_to like_comment_path(comment), class: "fa-thumbs-up", id: "like_btn_"+comment_id.to_s,
                method: :put, remote: :true do %> Like <% end %> <%= comment.get_likes.size %> &#128591');
        });
    });   
</script> 
