<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong id = "user"> <%= comment.username %> </strong> <span class="text-muted"><small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small></span>
                    <% if current_user.username == comment.username %> 
                        <%= link_to "Elimina", comment, :method => :delete,:class => "link"%> 
                    <% end %>
                   <a id = 'a_<%= comment.id %>' > Rispondi </a>
                </div>
                <div class="panel-body">
                    <%= comment.body %>
                </div><!-- /panel-body -->
                <div id="comment_n<%= comment.id %>%", style="text-align:center;", data-id="<%=comment.id%>", class="comment"> 
                        <%= link_to like_comment_path(comment), method: :put, remote: :true do %>
                            <i class="fas fa-thumbs-up"></i>
                        <% end %>
                        <span class="score">
                           <span class="score_num",>
                             <%=comment.votes_for.size%>
                           </span>
                        </span>
                        <%= link_to dislike_comment_path(comment), method: :put, remote: :true do %>
                            <i class="fas fa-thumbs-up fa-rotate-180"></i>              
                        <% end %>
                </div>
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div>
</div>

 
   <div id = 'id_<%= comment.id %>' style = "display: none" >
        <%= form_for [comment, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Rispondi" %><br/>
            <%= f.submit "Rispondi"  %>
        <% end %>
    </div> 

    <ul>
      <%= render partial: 'comment', collection: comment.comments %>
    </ul> 
</body>

<script>
    $(document).ready(function() {
        $('#a_<%= comment.id %>').click(function(event){
            event.preventDefault();
            $('#id_<%= comment.id%>').toggle();
        });
        $('.comment').click(function(){
            comment_id = $(this).attr("data-id")
            alert(comment_id)
            $('.score-num').html('<%= @comment.get_likes.size %>')
        });
    });   
</script> 
