<body>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default marg">
                <div class="panel-heading">
                    <% users = User.all %>
                    <% users.each do |u| %>
                        <% if u.username == comment.username %>
                            <% @user_id = u.id %>
                        <% end %>
                    <% end %>
                    <%= link_to user_path(@user_id), class: "lnk" do %>
                        <strong id = "user"><%= comment.username %> </strong> 
                    <% end %>
                    <span class="text-muted"><small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small></span>
                    <% if current_user.username == comment.username || current_user.admin? %> 
                        <%= link_to "Elimina", comment, :method => :delete,:class => "link"%> 
                    <% end %>
                   <a id = 'a_<%= comment.id %>' style = "cursor: pointer"> Rispondi </a>
                </div>
                <div class="panel-body">
                    <p> <%= comment.body %> </p>
                </div><!-- /panel-body -->
                <div id="comment_n <%= comment.id %> ", style="text-align:right;", data-id="<%=comment.id%>", class="comment"> 
                        <%= link_to like_comment_path(comment), method: :put, remote: :true do %>
                            <i class="fas fa-thumbs-up"></i>
                        <% end %>
                        <span class="score">
                           <span class="score_num",>
                             <%=comment.votes_for.size%>
                           </span>
                        </span>
                        <%= link_to dislike_comment_path(comment), method: :put, remote: :true do %>
                            <i class="fas fa-thumbs-up fa-rotate-180 thumbs-down"></i>              
                        <% end %>
                </div>
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    </div>
</div>

 
    <div id = 'id_<%= comment.id %>' style = "display: none" >
        <%= form_for [comment, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Rispondi",style: "width:500px" %><br/>
            <%= f.submit "Rispondi", class: "btn btn-success", style: "width:200px; margin-top:5px" %>
        <% end %>
    </div> 

    <ul>
      <%= render partial: 'comment', collection: comment.comments %>
    </ul> 
</body>

<style>

/* Stile personalizzato per i commenti */

.lnk{
    color:black;
    text-decoration: none;
}

.lnk:hover{
    text-decoration: none;
    color: gray;
}

.marg{
    margin-top: 10px;
    margin-left: -40px;
}
.small{
    margin-left: 10px;
    margin-right: 10px;
}

.thumbs-down{
    margin-right: 10px;
    color:red;
}

.panel-body{
    padding: 7px;
}

p{
    text-overflow: ellipsis;
}

</style>

<script>
    $(document).ready(function() {
        $('#a_<%= comment.id %>').click(function(event){
            event.preventDefault();
            $('#id_<%= comment.id%>').toggle();
        });
        
    });   
</script> 


