Cerca il tuo film preferito:
<%= form_tag search_path, :method => :get do %>

    <%=text_field_tag :query %>
    <%= submit_tag "Cerca" %>

<% end %>
<h2> POPOLARI </h2>
    <%= @popular.results.each_slice(5) do |pp| %>
        <% pp.each do |p|%>
            <%= link_to result_path(p.id) do %>
                    <% if p.poster_path %>
                        <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+p.poster_path)%>' width = 17%>
                    <%else%>
                        <img src = '<%= image_path('/no_locandina.webp')%>' width = 20%  %>
                    <% end %>
            <% end %>
        <% end %>
    <br>
    <br>
    <% end %>   