Cerca il tuo film preferito:

<%= form_tag search_path, :method => :get do %>

    <%=text_field_tag :query %>
    <%= submit_tag "Cerca" %>

<% end %>


<h2> FILM POPOLARI </h2>
<%= @popular_films.results.each_slice(5) do |pp| %>
    <% pp.each do |p|%>
        <%= link_to result_path(p.id) do %>
                <% if p.poster_path %>
                    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+p.poster_path)%>' width = 17%>
                <%else%>
                    <img src = '<%= image_path('/no_locandina.webp')%>' width = 20%  %>
                <% end %>
        <% end %>
    <% end %>
<br>
<br>
<% end %>   



<h2> SERIE POPOLARI </h2>
<%= @popular_series.results.each_slice(5) do |pp| %>
    <% pp.each do |p|%>
        <%= link_to tv_path(p.id) do %>
                <% if p.poster_path %>
                    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+p.poster_path)%>' width = 17%>
                <%else%>
                    <img src = '<%= image_path('/no_locandina.webp')%>' width = 20%  %>
                <% end %>
        <% end %>
    <% end %>
<br>
<br>
<% end %>   


<h2> PERSONE POPOLARI </h2>
<%= @popular_people.results.each_slice(5) do |pp| %>
    <% pp.each do |p|%>
        <%= link_to tv_path(p.id) do %>
                <% if p.profile_path %>
                    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+p.profile_path)%>' width = 17%>
                <%else%>
                    <img src = '<%= image_path('/no_locandina.webp')%>' width = 20%  %>
                <% end %>
        <% end %>
    <% end %>
<br>
<br>
<% end %>