Cerca un film, una serie tv, un attore o un regista:

<%= form_tag search_path, :method => :get do %>

    <%=text_field_tag :query, nil, :required => true %> <%= submit_tag "Cerca" %>

<% end %>

<br>
<div class="row" style = "left:50%">
  <div class="column rad" onclick="openTab('b1');" >Film</div>
  <div class="column rad" onclick="openTab('b2');" >Serie TV</div>
  <div class="column rad" onclick="openTab('b3');" >Persone</div>
</div>

<!-- The expanding grid (hidden by default) -->
<div id="b1" class="containerTab">
  <!-- If you want the ability to close the container, add a close button -->
    <h2 class = "txt"> FILM POPOLARI </h2>
    <div class = "wrapper">
       <%= @popular_films.results.each_slice(5) do |pp| %>
            <% pp.each do |p|%>
                <div class = "rad each-item">
                    <%= link_to result_path(p.id) do %>
                        <% if p.poster_path %>
                            <img class = "img" src= '<%= image_path('https://image.tmdb.org/t/p/original/'+p.poster_path)%>'>
                        <%else%>
                            <img class = "img" src = '<%= image_path('/no_locandina.webp')%>'>
                        <% end %>
                        <div class="cap1">
                            <span class = "bt"><h3 class = "text-center txt"><%= p.title %></h3></span>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>   
    </div>
</div>

<div id="b2" class="containerTab" style="display:none">
  
    <h2 class = "txt"> SERIE TV POPOLARI </h2>
    <div class = "wrapper">
        <%= @popular_series.results.each_slice(5) do |pp| %>
            <% pp.each do |p|%>
                <div class = "rad each-item">
                    <%= link_to tv_path(p.id) do %>
                            <% if p.poster_path %>
                                <img class = "img" src= '<%= image_path('https://image.tmdb.org/t/p/original/'+p.poster_path)%>' width = 17%>
                            <%else%>
                                <img class = "img" src = '<%= image_path('/no_locandina.webp')%>' width = 20%  %>
                            <% end %>
                            <div class="cap1">
                               <span class = "text-center bt"><h3 class = "text-center txt"><%= p.name %></h3></span>
                            </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>

</div>

<div id="b3" class="containerTab" style="display:none;">
 
    <h2 class = "txt"> PERSONE POPOLARI </h2>
        <div class ="wrapper">
        <%= @popular_people.results.each_slice(5) do |pp| %>
            <% pp.each do |p|%>
                <div class = "each-item rad">
                    <%= link_to persona_path(p.id) do %>
                            <% if p.profile_path %>
                                <img class = "img" src= '<%= image_path('https://image.tmdb.org/t/p/original/'+p.profile_path)%>'>
                            <%else%>
                                <img class = "img" src = '<%= image_path('/no_locandina.webp')%>'>
                            <% end %>
                            <div class="cap1">
                                <span class = "bt"><h3 class = "text-center txt"><%= p.name %></h3></span>
                            </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>


<style>


.wrapper {
    width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 210px);
}

.img {
    width: 210px;
    height: 300px;
    overflow: hidden;
}

.rad{
    border-radius: 25px;
    border: solid;
    border-color: black;
}

.each-item
{
    position:relative;
    overflow: hidden;
}

.each-item:hover .cap1
{
    left:0px;
    overflow: hidden;
   
}

.txt{
    color: black;
}

.bt{
    position:  absolute;
    bottom:0;
    text-align: center;
}

.cap1
{
    position:absolute;
    width: 100%;
    height:100%;
    background:rgba(255, 255, 255, 0.7);
    left:-100%;
    top: 0;
    padding:10px;
    overflow: hidden;
    transition: all 1s;
}



.column {
  float: left;
  width: 30%;
  margin-right: 10px;
  margin-left: 25px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background: grey;
}

.column:hover {
    background: green;
}

.containerTab {
  padding: 20px;
  color: white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the image */
.closebtn {
  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

</style>

<script>

// Hide all elements with class="containerTab", except for the one that matches the clickable grid column
function openTab(tabName) {
  var i, x;
  x = document.getElementsByClassName("containerTab");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(tabName).style.display = "block";
}

</script>