<h1> <%= @persona.name %> </h1>
<% if @persona.profile_path %>
    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+@persona.profile_path)%>' width = 20%>
<% else %>
    <img src = '<%= image_path('/no_locandina.webp')%>' width = 20%  %>
<% end %> 
Data Di Nascita: <%= @persona.birthday %>, Luogo Di Nascita: <%= @persona.place_of_birth%>
<br>
Professione: <%= @persona.known_for_department %>
<br>
<br>
Biografia: <%= @persona.biography %>
<br>
<br>
<h1> CREDITI </h1>
<% @mc.cast.each_slice(5) do |cc| %>
    <% cc.each do |c| %>
        <% if c.media_type == "movie" %>
            <%= link_to result_path(c.id) do %>
                <% if c.poster_path %>
                    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+c.poster_path)%>' width = 10%>
                <% else %>
                    <img src = '<%= image_path('/no_locandina.webp')%>' width = 10%  %>
                <% end %> 
            <% end %>
        <% else %>
            <%= link_to tv_path(c.id) do %>
                <% if c.poster_path %>
                    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+c.poster_path)%>' width = 10%>
                <% else %>
                    <img src = '<%= image_path('/no_locandina.webp')%>' width = 10%  %>
                <% end %> 
            <% end %>
        <% end %>
    <% end %>
<% end %>