<br>
<br>
Titolo: <%= @film.title %>
<% if @film.poster_path %>
    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+@film.poster_path)%>' width = 22%>
<%else%>
    <img src = '<%= image_path('/no_locandina.webp')%>' width = 22%  %>
<% end %>
<br>
<br>
Trama: <%= @film.overview%>
<br>
<br>
Data Di Uscita: <%= @film.release_date%>
<br>
<br>
Valutazione Media: <%= @film.vote_average%>/10
<br>
<br>
Durata: <%= @film.runtime%> min.
<br>
<br>
Regia:
<ul>
    <% @directors.each do |d| %>
    <li>
        <%= link_to persona_path(d.id) do%>
            <% if d.profile_path %>
                <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+d.profile_path)%>' width = 10%>
            <%else%>
                <img src = '<%= image_path('/no_locandina.webp')%>' width = 10%  %>
            <% end %>
            <%= d.name%>
        <% end %>
    </li>
    <% end %>
</ul>
<br>
<br>
Cast:
<ul>
    <% @cast.each do |character| %>
    <% break if character.order > 4%>
    <li>
        <%= link_to persona_path(character.id) do %>
            <% if character.profile_path %>
                <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+character.profile_path)%>' width = 10%>
            <%else%>
                <img src = '<%= image_path('/no_locandina.webp')%>' width = 10%  %>
            <% end %> 
            <%= character.name %>
        <% end %>
        - Ruolo: <%= character.character %>
    </li>
    <br>
    <% end %>
</ul>
<br>
<br>
<% if @video %>
    <% @video.each do |video|%>
    <iframe width="560" height="315" src='<%="https://www.youtube.com/embed/"+video.key %>'></iframe>
    <% end %>
<% end %>
<br>
<br>
Parole Chiave:
<% @keywords.each do |kw| %>
    <%= link_to 'http://www.twitter.com/hashtag/'+kw.name, target: '_blank' do%>
        <%= kw.name %>
    <% end %>
<% end %>
<br>
<br>
<h1> POTREBBERO PIACERTI ANCHE </h1>
<br>
    <% @similar.results.each_slice(5) do |ss| %>
        <% ss.each do |s| %>
            <%= link_to result_path(s.id) do %>
                <% if s.poster_path %>
                    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+s.poster_path)%>' width = 10%>
                <%else%>
                    <img src = '<%= image_path('/no_locandina.webp')%>' width = 10%  %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<br>

<br>


<h3>Commenta</h3>

<%= form_for [@found, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Aggiungi un commento..." %><br/>
    <%= f.submit "Invio" %>
<% end %>

<ul>
    <h1> COMMENTI </h1>
    <%= render(partial: 'comments/comment', collection: @found.comments) %>
</ul>


