<br>
<br>
Titolo: <%= @film.title %>
<% if @film.poster_path %>
    <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+@film.poster_path)%>' width = 22%>
<%else%>
    <img src = '<%= image_path('/no_locandina.webp')%>' width = 22%  %>
<% end %>
<br>
<br>
Trama: <%= @film.overview%>
<br>
<br>
Data Di Uscita: <%= @film.release_date%>
<br>
<br>
Valutazione Media: <%= @film.vote_average%>/10
<br>
<br>
Durata: <%= @film.runtime%> min.
<br>
<br>
Cast:
<ul>
    <% @cast.each do |character| %>
    <% break if character.order > 4%>
    <li>
       <% if character.profile_path %>
            <img src= '<%= image_path('https://image.tmdb.org/t/p/original/'+character.profile_path)%>' width = 10%>
        <%else%>
            <img src = '<%= image_path('/no_locandina.webp')%>' width = 10%  %>
        <% end %> 
        Attore: <%= character.name %>, Ruolo: <%= character.character %>
        <br>
    </li>
    <br>
    <% end %>
</ul>
<br>
<br>
<% if @video %>
    <% @video.each do |video|%>
    <iframe width="560" height="315" src='<%="https://www.youtube.com/embed/"+video.key %>'></iframe>
    <% end %>
<% end %>
<br>
<br>
Parole Chiave:
<% @keywords. each do |kw| %>
    <%= kw.name%>
<% end %>
<br>
<br>
Potrebbero Piacerti Anche:
<br>
<ul>
    <% @similar.results.each do |s| %>
    <li>
        <%= link_to result_path(s.id) do %>
            <%= s.title%>
        <% end %>
            <br>
        <% end %>
    </li>
</ul>
<br>