
<div class="moviecard">
  <div class="movie-poster play-trailer">
  </div>
  <div id="movie-content">
    <div class="movie-ratings"><span class="star">★</span><span class="score"><%= @film.vote_average %></span><span class="score-out-of">/ 10 (IMDB)</span></div>
    <div class="movie-title"><%=@film.title %><span class="movie-year">(<%= @film.original_title%>) <button class = "trb play-trailer" style="font-size:18px;"> Guarda il trailer <i class="fa fa-youtube-play red"></i></button></span></div>
    <div class="movie-details"><span class="movie-rating"><%= @film.release_date %></span><span class="movie-duration"><%= @film.runtime %> min.</span><span class="movie-genre">
            <% @film.genres.each do |g|%>
                <%= g.name %>
            <% end %>
        </span>
        <span class="movie-details">
            <% @film.spoken_languages.each do |g|%>
                <%= g.iso_639_1 %>
            <% end %>
        </span>
    </div>
    <div class="movie-castcrew"><span class="nom-2">Regia</span>
        <ul>
            <div class="name">
                <% @directors.each do |d| %>
                    <li>
                        <%= link_to persona_path(d.id), class: "nom" do%>
                            <h4 class = "nom"><%= d.name%></h4>
                        <% end %>
                    </li>
                <% end %>
            </div>
        </ul>
    </div>
    <div class="movie-castcrew"><span class="nom-2">Cast</span>
        <ul>
            <div class="name">
                <%= @cast.take(5).each do |character| %>
                    <li>
                        <%= link_to persona_path(character.id), class: "nom" do %>
                           <h4 class = "nom"> <%= character.name %> </h4>
                        <% end %>
                        <h5> <%= character.character %> </h5>
                    </li>
                <% end %>
            </div>
    </div>
    <div class="movie-castcrew"><span class="nom-2">Produzione</span>
        <ul>
            <div class="name">
                <% @film.production_companies.each do |pc| %>
                    <li>
                        <h4 class = "nom-2"> <%= pc.name %> </h4>
                    </li>
                <% end %>
            </div>
        </ul>
    </div>
    <div class = "movie-details"></div>
     <div class="movie-castcrew"><span class="nom">Parole Chiave</span>
        <div class = "wrapper-1">
            <% @keywords.each do |kw| %>
                <%= link_to 'http://www.twitter.com/hashtag/'+kw.name, target: '_blank', class: "nom-1" do %>
                    #<%= kw.name %>
                <% end %>
            <% end %>
        </div>
    </div> 
    <div class="movie-synopsis"><span class="nom">Trama</span>
        <div><span style = "font-size: 16px"><%= @film.overview %></span></div>
    </div>
</div>
<div class="movie-trailer"><a class="back-btn">indietro   </a>
    <div id="youvideo">
        <% if @video.first %>
            <iframe src='<%= "https://www.youtube.com/embed/"+@video.first.key %>' frameborder="0" allowScriptAccess="always"></iframe>
        <% else %>
            <iframe src='<%= image_path('/na.jpg')%>' frameborder = "0"></iframe>
        <% end %>
    </div>
  </div>
  <h1 style = "margin-left: 20%"> COMMENTI </h1>
  <div class = "container cmnts">
      <ul>
          <%= render(partial: 'comment', collection: @found.comments) %>
      </ul>
  </div>
  <h3>Commenta anche tu</h3>
  <%= form_for [@found, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Aggiungi un commento...", class: "ta" %><br/>
    <%= f.submit "Invio", class: "inv" %>
  <% end %>
  <% if @film.belongs_to_collection%>
    <div style = "margin-left:30%"><h1> Altri titoli di: "<%= @collection.name %>" </h1> </div>
    <div style = "width: 1150px;height: 250px;margin-left:0px">
      <% if @collection.parts.size > 6 %>
        <div>
            <button class = "xbt" id = "left-1">  <i id = "aw" class="arrow left"></i></button>
        </div>
      <% end %>
      <div id = "coll" style = "background-image: url('https://image.tmdb.org/t/p/original/<%= @collection.backdrop_path%>')"class="scrollmenu-1 bg-image">
          <% @collection.parts.each do |s| %>
              <%= link_to result_path(s.id), id: "animation_6",style: "margin-top: 3%;margin-left: 20px;margin-right: 25px;overflow: hidden; border-radius: 30px" do %>
                  <% if s.poster_path %>
                      <img class ="img-2" src= '<%= image_path('https://image.tmdb.org/t/p/original/'+s.poster_path)%>'>
                  <%else%>
                      <img class = "img-2" src = '<%= image_path('/no_locandina.webp')%>'>
                  <% end %>
              <% end %>
          <% end %>
      </div>
      <% if @collection.parts.size > 6 %>
        <div >
            <button class = "xbt" id = "right-1"><i id = "aw" class="arrow right"></i></button>
        </div>
      <% end %>
    </div>
  <% end%>
  <h1 style = "margin-left: 25%"> Potrebbero Piacerti Anche </h1>
 <div style = "width: 1150px;margin-left:0px;">
    <div>
        <button class = "xbt" id = "left">  <i id = "aw" class="arrow left"></i></button>
    </div>
    <div id = "pot" class="scrollmenu">
        <% @similar.results.each do |s| %>
            <%= link_to result_path(s.id), id: "animation_6",style: "overflow: hidden; border-radius: 25px" do %>
                <% if s.poster_path %>
                    <img class ="img" src= '<%= image_path('https://image.tmdb.org/t/p/original/'+s.poster_path)%>'>
                <%else%>
                    <img class = "img" src = '<%= image_path('/no_locandina.webp')%>'>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <div >
        <button class = "xbt" id = "right"><i id = "aw" class="arrow right"></i></button>
    </div>
    
   
</div>
</div>
</div>

<style>



 #aw{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
div.scrollmenu {
  float: left;
  width: 1000px;
  max-width: 1030px;
  height: 280px;
  max-height: 280px;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}


.scrollmenu::-webkit-scrollbar {
  display: none;
}



.xbt{
    border: none;
    background-color: white;
    outline: none;
}



.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  #left{
   float: left;
   margin-top: 110px;
  }
  
  #right{
      float: left;
      margin-top: 110px;
  }
  
   #left-1{
   float: left;
   margin-top: 225px;
  }
  
  #right-1{
      float: left;
      margin-top: 225px;
  }
  
.scrollmenu-1{
  background-size: 1000px 450px;
  border: 2px solid black;
  float: left;
  width: 1000px;
  max-width: 1030px;
  height: 450px;
  max-height: 450px;
  overflow: auto;
  white-space: nowrap;
  margin-top: 10px;
  border-radius: 10px;
}
div.scrollmenu-1 a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}


.scrollmenu-1::-webkit-scrollbar {
  display: none;
}



div.scrollmenu a:hover {
  background-color: #777;
}
.inv{
    width: 1030px;
}
.ta{
    width: 1030px;
    height: 70px;
}
.nom{
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-bottom: -7px;
}

.nom:hover{
    text-decoration: none;
    color: gray;
    
}

.nom-1{
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-bottom: 0px;
    margin-top: 5px;    
}
.nom-1:hover {
    text-decoration: none;
    color: gray;
}
.nom-1:visited{
    text-decoration: none;
    color: black;
}

.nom-2{
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-bottom: -7px;
}


.trb{
    border-radius: 10px;
    border: 1px solid;
    outline: none;
}

.red{
    color: black;
}


.trb:hover .red{
     color: red;    
}

.cmnts{
    width: 1030px;
    height: 250px;
    border-style: groove;
    overflow-y: auto;
    overflow-x: hidden;
}

.cnt{
    border-style: groove;
}


.wrapper {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: rfilter: blur(8px);
  -webkit-filter: blur(8px);epeat(5, 200px);
}

.wrapper-1 {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(5, 180px);
}

.img {
    width: 159px;
    height: 240px;
    overflow: hidden;
}

.img-2 {
    width: 280px;
    height: 380px;
    overflow: hidden;
}


.rad{
    border-radius: 25px;
    border: solid;
    border-color: black;
}


.each-item
{
    position:relative;
    overflow: hidden;
}


.each-item:hover .cap1
{
    left:0px;
    overflow: hidden;
   
}

.txt{
    color: black;
}

.bt{
    position:  absolute;
    bottom:0;
    text-align: center;
}

.cap1
{
    position:absolute;
    width: 100%;
    height:100%;
    background:rgba(255, 255, 255, 0.7);
    left:-100%;
    top: 0;
    padding:10px;
    overflow: hidden;
    transition: all 1s;
}

@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background: #B5B5B5;
}

.moviecard {
  font-family: 'Helvetica', sans-serif, 'Ariel';
  position: absolute;
  background: #ffffff;
  color: #555555;
  margin: 10px;
  width: 1100px;
  max-width: 2000px;
  min-height: 300px;
  height: auto;
  padding: 30px 290px 30px 30px;
  -moz-box-shadow: -5px 5px 15px;
  -webkit-box-shadow: -5px 5px 15px;
  box-shadow: -5px 5px 15px;
  border-radius: 10px;

}
.moviecard #movie-content {
  opacity: 1;
  width: 100%;
  display: table;
  transition: all 500ms ease-out;
  position: relative;
}
.moviecard .movie-title {
  font-size: 32px;
  padding-bottom: 6px;
  color: #333333;
}
.moviecard .movie-title .movie-year {
  margin-left: 12px;
  font-size: 13px;
}
.moviecard .movie-title a {
  color: #333333;
  text-decoration: none;
}
.moviecard .movie-title a:hover {
  color: #858585;
}
.moviecard .movie-details {
  font-size: 12px;
  padding-bottom: 24px;
  margin-bottom: 12px;
  border-bottom: 1px solid #dbdbdb;
}
.moviecard .movie-details span {
  padding: 0px 6px;
  border-right: 1px solid #dbdbdb;
}
.moviecard .movie-details span:last-child {
  border: none;
}
.moviecard .movie-castcrew {
  padding-top: 12px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.moviecard .movie-castcrew span.title {
  color: #333333;
  display: inline-block;
  width: 80px;
  font-weight: 600;
}
.moviecard .movie-synopsis {
  margin: 24px 0px;
  padding-top: 24px;
  border-top: 1px solid #dbdbdb;
  max-height: 230px;
  height:auto;
  overflow-y: hidden;
  width: 100%;
}
.moviecard .movie-ratings {
  position: absolute;
  right: -50px;
}
.moviecard .movie-ratings span.star {
  display: inline-block;
  margin-right: 12px;
  color: #F0DE00;
  font-size: 36px;
}
.moviecard .movie-ratings span.score {
  font-size: 30px;
  color: #333333;
}
.moviecard .movie-trailer-btn {
  text-transform: uppercase;
  outline: none;
  padding: 15px 50px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
.moviecard .movie-trailer-btn:hover {
  text-decoration: underline;
}
.moviecard .movie-trailer-btn:hover:before {
  color: #333333;
}
.moviecard .movie-trailer-btn:hover:after {
  border-color: #333333;
}
.moviecard .movie-trailer-btn:before {
  content: '▸';
  font-size: 30px;
  color: #333333;
  position: absolute;
  top: 2px;
  left: 20px;
}
.moviecard .movie-trailer-btn:after {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #333333;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  top: 12px;
}
.moviecard .movie-trailer {
  width: 0px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0px;
  height: auto;
  transition: all 500ms;
  background: none;
  z-index: 1;
  padding: 60px 40px 60px 60px;
  border-radius: 5px;
}
.moviecard .movie-trailer a.back-btn {
  color: #333333;
  text-decoration: none;
  font-weight: 600;
  padding: 6px 12px 6px 18px;
  position: absolute;
  top: 12px;
  left: 200px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.moviecard .movie-trailer a.back-btn:before {
  content: '⌜';
  position: absolute;
  left: 5px;
  top: 1px;
  transform: rotate(-45deg);
  font-size: 20px;
}
.moviecard .movie-trailer a.back-btn:hover {
  color: #333;
}
.moviecard .movie-trailer iframe {
  width: 100%;
  height: 100%;
}
.moviecard .movie-poster {
  background: url('<%= @poster_path %>');  
  position: absolute;
  background-color: #dbdbdb;
  background-size: 360px 555px;
  background-repeat: no-repeat;
  height: 0;
  width: 360px;
  height: 555px;
  right: -40px;
  top: 100px;
  -moz-box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 500ms ease-out;
  z-index: 10;
  border-radius: 10px;
}
.moviecard .movie-poster:before {
  content: '▸';
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: rgba(255, 255, 255, 0.4);
}
.moviecard .movie-poster:hover:before {
  color: rgba(255, 255, 255, 0.8);
}
.moviecard.movie-view-trailer .movie-poster {
  right: 800px;
}
.moviecard.movie-view-trailer #movie-content {
  opacity: 0;
  width: 0px;
}
.moviecard.movie-view-trailer .movie-trailer {
  top: 5%;
  width: 900px;
  opacity: 1;
  padding-left: 200px;
}
.moviecard.movie-view-trailer .movie-trailer #youvideo {
  height: 380px;
}




</style>

<script>


$(document).ready(function(){
    $("#right").click(function() {
        $('#pot').animate({
                scrollLeft: "+=167%"
        }, "fast");
    })
    $("#left").click(function() {
        $('#pot').animate({
                scrollLeft: "-=166%"
        }, "fast");
    })
})



$(document).ready(function(){
    $("#right-1").click(function() {
        $('#coll').animate({
                scrollLeft: "+=335%"
        }, "fast");
    })
    $("#left-1").click(function() {
        $('#coll').animate({
                scrollLeft: "-=335%"
        }, "fast");
    })
})


$(document).ready(function(){
	$(".play-trailer").click(function(){
		toggleVideo('show');
		$(".moviecard").addClass("movie-view-trailer");
	});

	$(".back-btn").click(function(){
		$(".moviecard").removeClass("movie-view-trailer");
		toggleVideo('hide');
	});	
});

function toggleVideo(state) {
    // if state == 'hide', hide. Else: show video
    var div = document.getElementById("youvideo");
    var iframe = div.getElementsByTagName("iframe")[0].contentWindow;
    div.style.display = state == 'hide' ? 'none' : '';
    func = state == 'hide' ? 'pauseVideo' : 'playVideo';
    iframe.postMessage('{"event":"command","func":"' + func + '","args":""}', '*');
}

</script>