<% @users = User.all %>
  <br>
  <ul>
    <% @users.each do |user| %>
      <% if user.banned? %>
        <li>
          BANNED - Username: <%= user.username %> - E-mail: <%= user.email %> <%= link_to "Sblocca", unban_path(user.id) %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <br>
  <ul>
    <% @users.each do |user| %>
          <% if user.banned != true && user.admin != true %>
                <li>
                  NOT BANNED - Username: <%= user.username %> - E-mail: <%= user.email %> <%= link_to "Blocca", ban_path(user.id) %>
                </li>
            <% end %>
    <% end %>
  </ul>
