<div class = "moviecard">
    <div class="container emp-profile">
            <form method="post">
                    <div class="flex-container">
                        <div class="col-md-2">
                                <%if @user.provider == ""%>
                                    <div class="circle" style="background-color: <%=@user.font_image%>;">
                                        <span class="initials">
                                        <%if @user.first_name == "" || @user.last_name == ""%>
                                            <%=@user.username%>
                                        <%else%>
                                            <%=@user.first_name[0] + @user.last_name[0]%>
                                        <%end%>
                                        </span>
                                    </div>
                                <%else%>
                                    <img src="<%= @user.providerimg %>" class="circle" style="background-color: <%=@user.font_image%>;">
                                <%end%>
                            <div>
                                <%= link_to 'Preferiti', favorites_path(@user.id), class: "btn btn-block btn-primary btn-profile" %>
                                <% if @user.id == current_user.id %>
                                    <%= link_to 'Edit', edit_user_registration_path, class: "btn btn-block btn-primary btn-profile" %>
                                <% end %>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Nome</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.first_name%> <%= @user.last_name%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Sesso</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p> <%= User.gender_types.key(@user.gender) %> </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Data Di Nascita</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.date_of_birth%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>E-Mail</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.email%></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Ruolo</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>
                                                    <% if @user.admin? %>
                                                        Admin
                                                    <% else %>
                                                        Utente
                                                    <% end %>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Numero Di Telefono</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @user.phone_number%></p>
                                            </div>
                                        </div>
                                        <%if @user.provider != ""%>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Account Twitter</label>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="https://twitter.com/<%= @user.username%>" class="btn btn-primary btn-twitter" > Twitter of <%=@user.username%></a>
                                            </div>
                                        </div>
                                        <%end%>
                                        <div class="form-group">
                                            <label for="biography_card">Biografia</label>
                                            <textarea id="biography_card" rows="7" readonly><%=@user.bio%></textarea>
                                        </div>
                                    </div>   
                                </div>
                            </div>
                    </div>
            </form>           
        </div>
    </div>

<style>


body {
  background: #B5B5B5;
}

.moviecard {
    
  font-family: 'Helvetica', sans-serif, 'Ariel';
  position: absolute;
  background: #ffffff;
  color: #555555;
  margin-left: -70px;
  width: 1300px;
  max-width: 2000px;
  min-height: 300px;
  height: auto;
  padding: 30px 290px 30px 30px;
  -moz-box-shadow: -5px 5px 15px;
  -webkit-box-shadow: -5px 5px 15px;
  box-shadow: -5px 5px 15px;
  border-radius: 10px;

}

.circle {
    border-radius: 50%;
    height: var(--avataruser-size);
    text-align: center;
    width: var(--avataruser-size);
    margin: 0 0 39%;
  }
  
  .initials {
    font-size: calc(var(--avataruser-size) / 2); /* 50% of parent */
    line-height: 1;
    position: relative;
    top: calc(var(--avataruser-size) / 4); /* 25% of parent */
    color: white;
  }

.col-md-2{
    align-items: center;
    margin: 0 7% 0 0;
    display: flex;
    flex-direction: column;
  }

.col-md-6{
    width: 50%;
    height: 34px;
}


  .btn-profile{
    margin: 25px 0 20px 0;
    width: 180px;
  }

  

</style>