<h1>Stats</h1>

VISITE TOTALI: <%= @count %>
EVENTI TOTALI: <%= @event_count%>
FILM CERCATI: <%= @film_count%> 
SERIE TV CERCATE: <%= @tv_count%>
UTENTI TOTALI: <%= @users.size %>
FILM PIU' CERCATO: <%= @top_film %>
SERIE TV PIU' CERCATA: <%= @top_tv %>
<br>


<% @users.each do |u| %>
    <%= u.username %>
    <br>
    VISITE: <%= u.visits.count%>
    <br>
    <% u.visits.each do |v| %>
        <%= v.id %>) 
        dispositivo: <%= v.device_type %> - 
        sistema operativo: <%= v.os %> -
        browser: <%= v.browser %> -
        inizio sessione: <%= v.started_at %>

        <br>

    <% end %>
    EVENTI: <%= u.events.count%>
    <br> 

    
    <% u.events.each do |e| %>
        <%= e.id %>)
        <%= e.name %> -
        <%= e.time %>
        <br>
    <% end %>
    <br>    

<% end %>
