<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "MoviePedia", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Film", film_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Tweets", tweets_path %></li>
        <li><%= link_to "Chat", chat_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "All Users", users_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>