<header class="navbar navbar-fixed-top navbar-inverse">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  
  <div class="container">
    <%= link_to "MoviePedia", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Chat", chat_path %></li>
          <li>
            <%= link_to user_path(current_user) do %>
              <%=current_user.username%>
            <% end %>
          </li>
          <% if current_user.role == "A" || current_user.role == "M" %>
            <li><%= link_to "Stats", stats_path %></li>
            <li><%= link_to "All Users", users_path %></li>
          <% end %>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete, data: {confirm: "Sei sicuro di voler uscire?"} %></li>
        <% else %>
          <li><%= link_to 'Log In', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<style>



.circleheader {
    border-radius: 50%;
    height: var(--avatarheader-size);
    text-align: center;
    width: var(--avatarheader-size);
  }
  
  .initialsheader {
    font-size: calc(var(--avatarheader-size) / 2); /* 50% of parent */
    line-height: 1;
    position: relative;
    top: calc(var(--avatarheader-size) / 4); /* 25% of parent */
    color: white;
  }
  
</style>